/* box-model ONE */
.box-one{
    width:500px;
    border-radius: 12px;
    background-color: rgba(11, 226, 126, 0.911);
    padding: 120px 30px;
    margin: 40px auto;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.h1{
    font-size: 44px;
    margin: 0;
    padding: none;
}

.btn-one{
    background-color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}


/* box-model TWO */
.box-two{
    border: 2px solid rgba(211, 211, 211, 0.932);
    width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-box{
    padding: 0 30px;
}

.box-two-button{
    width: 100%;
    border-top: 2px solid rgba(211, 211, 211, 0.932);
    box-sizing: border-box;
    padding-left: 30px;
    color: rgb(65, 139, 235);
    cursor: pointer;
}
.profile-pics{
    margin: 40px auto;
    width: 100%;
    /* text-align: center; */
}

.avatar{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 5px;

}


/* box-three model */
.box-three{
    border: 2px solid rgba(211, 211, 211, 0.932);
    width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.box-three-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-three-text{
    padding: 10px;
}

.box-three-btn{
    background-color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(65, 139, 235);
    font-weight: 400;
    padding: 8px 25px;
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-top: 20px;
    cursor: pointer;

}
.lock-img{
    margin-right: 5px;
    vertical-align: middle;
}

/* box-model Four */

.box-four{
    width: 80%;
    border-top: 2px solid #858484;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box-four-form{
    width: 40%;
    margin: 100px auto;
}

.box-four-input{
    width: 80%;
    margin-bottom: 12px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
}
.box-four-btn{
    width: 40%;
    background-color: black;
    font-size: 16px;
    font-weight: 500px;
    color: #dfdfdf;
    border-radius: 24px;
    padding: 8px 16px;
}
.box-four-terms{
    color: #858484;
}
.underline{
    text-decoration: underline;
}